{% extends "base.html" %}

{% block title %}About Us {% endblock title %}


{% block body %}

   <!-- Thumbnail part -->
   <div class="container my-3 px-0">
        <br>
        <br>
          <h1 class="my-2 text-center" style="color:#ff8a16;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Our Developers</h1>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">  
                <img src="/static/1.jpg" class="d-block w-100" alt="...">
                
                <div class="card-body">
                  <p class="card-text">Md.Raduan Kabir</p>
                  <p class="card-text">20201045@uap-bd.edu</p>

                  <div class="d-flex justify-content-between align-items-center">
                  
                    <small class="text-muted">Developer 1</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/2.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Md.Raihan Kabir</p>
                  <p class="card-text">20201048@uap-bd.edu</p>

                  <div class="d-flex justify-content-between align-items-center">
                
                    <small class="text-muted">Developer 2</small>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/3.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Md.Monem Shariar Rafi</p>
                  <p class="card-text">20201058@uap-bd.edu</p>

                  <div class="d-flex justify-content-between align-items-center">
                  
                    <small class="text-muted">Developer 3 </small>
                    </a>
                  </div>
                  <div>
                  
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/4.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Sheikh Nafis</p>
                  <p class="card-text">20201056@uap-bd.edu</p>
      
                  <div class="d-flex justify-content-between align-items-center">
                  
                    <small class="text-muted">Developer 4 </small>
                    </a>
                  </div>
                  <div>
                  
                  </div>
                </div>
              </div>
            </div>

          </div>
  </div>
{% endblock body %}