<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="widtial-scalh=device-width, inite=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.rtl.min.css" integrity="sha384-5/ZcxA7Dub2FNG09dHw8CHmPN7Fz6ASlweagj0nuXjmMyupgH9n9F5Hd926zsu3/" crossorigin="anonymous">

    <title>{% block title %}{% endblock title %}| Fantasy Premier League</title>
    <link rel="icon" href="/static/favicon2.png">

  </head>

  <!-- {% load static %} -->
  <!-- I have added a background image -->
  <!-- <body style="background-image: url('{% static 'bgp.jpg' %}');" >  -->

  <body>
    <div class="fixed-top">
      <nav class="navbar navbar-expand-lg" style="background-color: #79cf02;" >
              
            <a class="navbar-brand" href="/">
            <img src="/static/favicon2.png" alt="" width="30" height="35" >
            </a>
        

        <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-family:serif;">Fantasy Premier League</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AboutUS">About Us</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" href="/ContactUS">Contact Us</a>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sign in As
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/Player">User</a></li>
                      

                      </ul>
                  </li>

                  <li class="nav-item">
                    <b><a class="nav-link" href="/MyProfile">My Profile</a></b>
                  </li>

                  

                    {% block nav %}
                  
                    {% endblock nav %}
                </ul>
                
            </div>
        </div>
      </nav>
            
      <!-- message alert -->
        {% if messages %}
          {% for message in messages %}         
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      
    </div>
   

  
      {% block body %}  
      {% endblock body %}
      <!-- Footer -->
    <footer class="p-3" style="background-color: #148119;" >
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col text-white">
          <br>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<img src="/static/favicon2.png" alt="facebook" style="height: 35px;width: 30px;">
          <i><b><h4 style="color: black;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Fantasy Premier League</h4></b></i>
        </div>
        <div class="col text-white">
          <br>
          <a href="/AboutUS"><button type="button" class="btn btn-outline-warning">About Us</button></a>
          <a href="/ContactUS"><button type="button" class="btn btn-outline-warning">Contact Us</button></a>
          <a href="#"><button type="button" class="btn btn-outline-light">Go To Top</button></a><br><br>
        </div>

        <div class="col text-white" style="align-items: right;">
          <br>
          <b><p style="font-family: serif;font-size:medium; text-align: right;">Email : a2g4@gmail.com</p></b>
          <b><p style="font-family: serif;font-size: medium;text-align: right;">Phone : 01345678900&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></b>          
        </div>
        
   
      </div>
      <hr>
      <center>Copyright&copy;2023. All right reserved. Designed By A2-G4</center> 
    </footer>
 

      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
      -->
  </body>
</html>

     
    